* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    font-size: 2rem;
    background-color: #52b85c;
}

h1{
    text-align: center;
    text-decoration-line: underline;
    line-height: 9rem;
}

#imgParc{
    background-image: url("img/parc.png");
    background-repeat: no-repeat;
    height: 600px;
}

#explainParc, #explainCitadelle, #explainCathedral{
    display: inline-block;
    width: 50%;
    height: 300px;
    overflow: hidden;
    padding: 1rem;
}

#imgCitadelle{
    background-image: url("img/citadelle.png");
    background-repeat: no-repeat;
    height: 600px;
    width: 1271px;
    display: inline-block;
    margin-left: 10%;
}

#imgCathedral{
    background-image: url("img/cathedral.png");
    background-repeat: no-repeat;
    height: 600px;
    width: 1422px;
    display: inline-block;
    margin-left: 3%;

}

#verdun{
    display: inline-block;
    width: 50%;
}